<p>This is Admin Area, Baby!</p>

<h3>
  <%= @soc_net %>
</h3>
<h3>
  <%= @item %>
</h3>
<p>
  <% if @items != nil %>
    <ul>
      <% @items.each do |item| %>
        <li><h4><%= item %></h4></li>
      <% end %>
    </ul>
  <% end %>
</p>