<h2>About Me</h2>

<article class="post-content">
  <p><em><strong>I’m Raman Skaskevich.</strong></em> I’m from the <a href="https://en.wikipedia.org/wiki/Brest,_Belarus">Brest, Belarus</a> and I have an interest to all things involving code.</p>
  <p>I graduated from the Brest State Technical University in 2012 and received a BSc in Computing Engeneering. Currently, I’m a software developer and tester at the <a href="http://www.ericpol.com/">Ericpol Ericsson</a>.</p>
  <p>In my free time I enjoy travelling, football, and constantly improving my development skills by reading technical articles and source code.</p>
  <p>If you wish to see some of the things I’ve created, head on over to the <a href="/projects/">projects</a>.</p>
</article>
