<h2>About Me</h2>

<table>
  <tr>

    <td width="60%">
      
      <article class="view-area">
        
        <div class="summary post-content">
          <h3>Summary</h3>
        
          <p><em><strong>I’m Raman Skaskevich.</strong></em> I’m from the <a href="https://en.wikipedia.org/wiki/Brest,_Belarus">Brest, Belarus</a> and I have an interest to all things involving code.</p>
          <p>I graduated from the Brest State Technical University in 2012 and received a BSc in Computing Engeneering. Currently, I’m a software developer and tester at the <a href="http://www.ericpol.com/">Ericsson Ericpol</a>.</p>
          <p>In my free time I enjoy travelling, football, and constantly improving my development skills by reading technical articles and source code.</p>
          <p>If you wish to see some of the things I’ve created, head on over to the <a href="/projects/">projects</a>.</p>
        </div>
        
        <div class="skills">
          <div><h3>Skills</h3><a href="https://www.linkedin.com/in/raman-skaskevich-919b92bb"><i class="fa fa-lg fa-linkedin"></i></a></div>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
          </ul>
        </div>
        
        <div class="experience">
          <h3>Experience</h3>
          <ul>
            <li>
              <p>Ericpol</p>
              <p>Junior Software Developer</p>
              <p>08.2012 - 12.2014</p>
            </li>
            <li>
              <p>Ericsson Ericpol</p>
              <p>Software Developer</p>
              <p>01.2015 - ongoing</p>
            </li>
          </ul>
        </div>
        
        <div class="education">
          <h3>Education</h3>
          <ul>
            <li>
              <p>Brest State Technical University</p>
              <p>Bachelor of Computer Science</p>
              <p>09.2007 - 06.2012</p>
            </li>
          </ul>
        </div>
        
        <div class="languages">
          <h3>Languages</h3>
          <ul>
            <li>English</li>
            <li>Polish</li>
            <li>Russian</li>
            <li>Belarussian</li>
          </ul>
        </div>
        
        <div class="courses">
          <h3>Courses</h3>
          <ul>
            <li>
              <p>Web Application Architectures</p>
              <p>Coursera Verified Certificates</p>
              <p>04.2015 - 05.2015</p>
            </li>
          </ul>
        </div>
        
      </article>

    </td>
    
    <td>

      <article class="admin-area">
        <p>ADMIN AREA</p>
      </article>

    </td>
  </tr>
</table>