<h2>Projects</h2>

<article class="post-content">
  <p><em>I’ve worked on a number of projects recently. Please see my <a href="https://github.com/romasks">Github account</a> to view my recent activity.</em></p>
  <p><em>Here’s a (non-exhaustive) list of the projects I’m most fond of:</em></p>
  <ul>
    <li><strong>blog-sab</strong> (<a href="https://blog-sab.herokuapp.com/">link</a>) (<a href="https://github.com/romasks/blog-sab">via Github</a>)
      <ul>
        <li>My web page.</li>
        <li>Build with Rails.</li>
        <li>Deployed on Heroku.</li>
      </ul>
    </li>
    <li><strong>oldtree</strong> (<a href="https://github.com/romasks/oldtree">via Github</a>)
      <ul>
        <li>Family tree.</li>
        <li>Build with C++.</a></li>
      </ul>
    </li>
    <li><strong>hairdo-mysql</strong> (<a href="https://github.com/romasks/hairdo-mysql">via Github</a>)
      <ul>
        <li>Developed as barber online store.</li>
        <li>Build with Rails.</li>
      </ul>
    </li>
  </ul>
</article>
