.row
	.col-md-12
		.panel.panel-default
			.panel-body
				%h1 Welcome
				%p I'm Raman Skaskevich - Software Developer at Ericsson.
				%p I passionate in Ruby with Rails and also in Android development.
			.panel-footer
				%h4 Contact to me:
				%p lusersks@gmail.com
