<h1>Listing Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
    <div class="col-md-4">
      <h2><%= post.title %></h2>
      <p><%= post.body %></p>
      <%= link_to 'Show', post, class: "btn btn-default" %>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-md-4">
  <h2><p></h2>
  <%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
</div>
