.col-md-12
  - @posts.each do |post|
    .box.panel.panel-default
      .panel-body
        %h2= link_to post.title, post
        %p= truncate(post.body, length:200)

  - if user_signed_in? and current_user.admin?
    = link_to 'New One', new_post_path, class: "btn btn-default"
