- @posts.each do |post|
  .col-md-12
    .box.panel.panel-default
      .panel-body
        %h2= link_to post.title, post
        %p= truncate(post.body, length:200)

= link_to 'Create New One', new_post_path, class: "btn btn-default"
