.about-in {
    margin-left: 20px;
    font-weight: bold;
    color: #000077;
    text-shadow: 2px 2px 2px blue;
}

.about-gl {
    margin-left: 20px;
    font-weight: bold;
    color: #777700;
    text-shadow: 2px 2px 2px yellow;
}

.about-so {
    margin-left: 20px;
    font-weight: bold;
    color: #995500;
    text-shadow: 2px 2px 2px orange;
}