<!DOCTYPE html>
<html>
<head>
  <title>Raman Skaskevich</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <%# TODO: Remove this container class in body for blog in v1.0 %>

  <div>
    <%= yield %>
  </div>

</body>
</html>
